.userWrapper {
  display: grid;
  width: 600px;
  margin: 10px auto;
  box-shadow: 5px 10px 15px 7px rgba(58, 58, 58, 0.301);
  background-color: rgba(172, 152, 124, 0.192);
  padding: 20px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}
.profilePic {
  max-width: 220px;
  max-height: 300px;
  grid-row: 1/9;
  border: 3px solid rgba(54, 87, 74, 0.548);
  margin: 0 auto;
}
.name {
  font-size: 22px;
  padding-left: 15px;
  margin: 5px auto;
  text-align: center;
  grid-row: 1/1;
  grid-column: 2/2;
}
.address {
  grid-row: 5/5;
  grid-column: 2/2;
}
.company {
  grid-column: 7/7;
  grid-column: 2/2;
}
.tel {
  grid-column: 4/4;
  grid-column: 2/2;
}
.zip {
  grid-row: 6/6;
  grid-column: 2/2;
}
.email {
  grid-row: 2/2;
  grid-column: 2/2;
}
.web {
  grid-row: 3/3;
  grid-column: 2/2;
}
.descript {
  margin: 10px auto;
  grid-row: 8/8;
  grid-column: 2/2;
}
.buttonBack {
  grid-column: 2/2;
  font-size: 20px;
  font-weight: 900;
  border: none;
  width: 60px;
  margin: 5px auto;
  max-height: 30px;
  background-color: transparent;
  color: rgba(59, 38, 18, 0.808);
}
.buttonBack:hover {
  cursor: pointer;
  color: rgba(122, 134, 93, 0.863);
}
@media (max-width: 850px) {
  .userWrapper {
    width: 500px;
  }
  .profilePic {
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .userWrapper {
    width: 300px;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .buttonBack {
    grid-column: 1/1;
  }
  .name {
    font-size: 18px;
    padding-left: 5px;
    margin: 5px auto;
    text-align: center;
    grid-row: 2/2;
    grid-column: 1/1;
  }
  .address {
    grid-row: 6/6;
    grid-column: 1/1;
  }
  .company {
    grid-column: 8/8;
    grid-column: 1/1;
  }
  .tel {
    grid-column: 5/5;
    grid-column: 1/1;
  }
  .zip {
    grid-row: 7/7;
    grid-column: 1/1;
  }
  .email {
    grid-row: 3/3;
    grid-column: 1/1;
  }
  .web {
    grid-row: 4/4;
    grid-column: 1/1;
  }
  .descript {
    margin: 10px auto;
    grid-row: 9/9;
    grid-column: 1/1;
  }
  .profilePic {
    grid-row: 1/1;
  }
}
