.formWrap {
  border: 3px solid rgba(91, 61, 116, 0.5);
  background-color: rgba(230, 230, 250, 0.363);
  min-width: 700px;
  margin: 10px auto;
  padding: 25px;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: 50% 50%;
  grid-gap: 10px;
}
.inputName {
  grid-row: 1/1;
  grid-column: 1/1;
  background: transparent;
  text-align: center;
  width: 220px;
  margin: 0 auto;
  border: none;
  border-bottom: 2px solid rgba(91, 61, 116, 0.781);
}
.inputName::placeholder {
  text-align: center;
  opacity: 0.5;
}
.inputName:focus {
  outline: none;
  text-align: center;
}
.inputEmail {
  background: transparent;
  grid-row: 1/1;
  grid-column: 2/2;
  width: 220px;
  text-align: center;
  margin: 0 auto;
  border: none;
  border-bottom: 2px solid rgba(91, 61, 116, 0.781);
}
.inputEmail::placeholder {
  text-align: center;
  opacity: 0.5;
}
.inputEmail:focus {
  outline: none;
  text-align: center;
}
.inputPhone {
  background: transparent;
  grid-row: 2/2;
  grid-column: 1/1;
  width: 220px;
  text-align: center;
  margin: 0 auto;
  border: none;
  border-bottom: 2px solid rgba(91, 61, 116, 0.781);
}
.inputPhone::placeholder {
  text-align: center;
  opacity: 0.5;
}
.inputPhone:focus {
  outline: none;
  text-align: center;
}
.submitButton {
  grid-row: 2/2;
  grid-column: 3/3;
  border: none;
  background: rgba(126, 79, 170, 0.589);
  width: 60px;
  height: 30px;
  color: white;
  text-transform: uppercase;
  margin: 10px auto;
}
.inputPic {
  grid-row: 2/2;
  grid-column: 2/2;
  border: none;
  border-bottom: 2px solid rgba(126, 79, 170, 0.589);
  font-size: 14px;
  color: rgba(126, 79, 170, 0.589);
  margin: 10px 60px;
  text-align: center;
}
.inputPic:hover {
  cursor: pointer;
}
.inputPic:focus {
  outline: none;
  text-align: center;
}
.submitButton:hover {
  cursor: pointer;
}
