.avatar {
  display: grid;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.userNameAndEmail {
  padding: 0;
  margin: 10px 5px;
  color: #eee;
  font-size: 16px;
  word-wrap: break-word;
}
.usersBlock {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  margin: 20px auto;
  grid-column-gap: 2px;
  grid-row-gap: 5px;
  width: 850px;
}
.card {
  max-width: 200px;
  min-height: 200px;
  background: rgba(75, 82, 60, 0.466);
  border-radius: 1px;
  text-decoration: none;
  margin: 0 auto;
}
@media (max-width: 930px) {
  .usersBlock {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    margin: 20px auto;
    grid-column-gap: 2px;
    grid-row-gap: 5px;
    width: 700px;
  }
  .card {
    max-width: 200px;
    min-height: 200px;
    background: rgba(105, 92, 77, 0.863);
    border-radius: 1px;
    text-decoration: none;
    margin: 0 auto;
  }
}
@media (max-width: 780px) {
  .usersBlock {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin: 20px auto;
    grid-column-gap: 2px;
    grid-row-gap: 5px;
    width: 500px;
  }
  .card {
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .usersBlock {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin: 20px auto;
    grid-column-gap: 2px;
    grid-row-gap: 5px;
    width: 500px;
  }
  .card {
    margin: 0 auto;
  }
}
