.avatar {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding: 0 40px;
}
.userNameAndEmail {
  text-align: center;
  padding: 0;
  margin: 10px auto;
  color: #333;
  font-size: 20px;
  word-wrap: break-word;
}
.usersBlock {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  margin: 20px auto;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  width: 900px;
}
.card {
  max-width: 250px;
  min-height: 250px;
  background: #ccc;
  border-radius: 5px;
  text-decoration: none;
}
