.avatar {
  display: grid;
  width: 195px;
  height: 195px;
  margin: 0 auto;
}
.userNameAndEmail {
  padding: 0;
  margin: 10px 5px;
  color: #eee;
  font-size: 16px;
  word-wrap: break-word;
}
.usersBlock {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  margin: 20px auto;
  grid-column-gap: 2px;
  grid-row-gap: 5px;
  width: 900px;
}
.card {
  max-width: 200px;
  min-height: 200px;
  background: #333;
  border-radius: 1px;
  text-decoration: none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}
